<div class="loader" *ngIf="loading">
    <div>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="!loading" class="row">
    <div class="col-6-sm header-col">
        <h3 class="left">Scout missions</h3>
    </div>
    <div class="col-6-sm header-col">
        <div class="right">
            <button 
                *ngIf="!calendar" 
                class="toggle-btn switch" 
                (click)="toggleShowCompleted()" 
                mat-raised-button
            >
                {{ show_completed ? "Hide Completed" : "Show Completed" }}
            </button>

            <button 
                class="toggle-btn" 
                (click)="toggleView()" 
                mat-raised-button
            >
                {{ calendar ? "List View" : "Calendar View" }}
            </button>

        </div>

    </div>
    <div *ngIf="!calendar" class="col-12">
        <mat-form-field class="search-input">
            <input 
                matInput 
                placeholder="Search scout missions" 
                [value]="search_val" 
                (input)="setSearchVal($event.target.value)"
            >
        </mat-form-field>
    </div>
    <div *ngIf="!calendar">
        <div [@fadeInOut] *ngFor="let mission of missions">
            <div [@fadeInOut] class='col-6' *ngIf="!show_completed && !mission.complete || show_completed">
                <br>
                <mat-card 
                    *ngIf="search_val.length > 0 && mission.title.toLowerCase().includes(search_val.toLowerCase()) || !search_val" 
                    class='center' 
                    style="height:190px;"
                >
                    <mat-card-title>{{ mission.title }}</mat-card-title>
                    <mat-card-subtitle>{{ mission.date }}</mat-card-subtitle>
                    <mat-card-content>
                        <span [@fadeInOut]>
                            <b>Status: </b>{{ mission.complete ? "Completed" : "Incomplete" }}
                        </span>
                        <br>
                        <span *ngIf="mission.worker" [@fadeInOut]>
                            <b>Assigned to: </b>{{mission.worker && mission.worker.name}}
                        </span>
                    </mat-card-content>
                    <mat-card-actions>
                            <button
                                *ngIf="!mission.complete" 
                                mat-raised-button 
                                (click)="openDialog(mission)"
                                color="secondary"
                            >
                                {{mission.worker ? "Change worker" : "Assign worker"}}
                            </button>
                            <button
                                *ngIf="mission.worker && !mission.complete" 
                                mat-raised-button 
                                (click)="completeMission(mission.id)"
                                color="secondary"
                                >
                                Complete mission
                            </button>
                        </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <div [@fadeInOut] *ngIf="calendar">
        <br>
        <mat-card style="margin-top:80px">
            <app-full-calendar [eventData]="missions"></app-full-calendar>
        </mat-card>
    </div>
</div>