<h2>Aerobotics Scout Jobs</h2>

<div class="row">
    <div class="col-12">
        <h3>Missions</h3>
    </div>
    <div class='col-6' *ngFor="let mission of missions">
        <br>
        <mat-card class='center' style="height:190px;">
            <mat-card-title>Mission: {{ mission.title }}</mat-card-title>
            <mat-card-subtitle>{{ mission.date }}</mat-card-subtitle>
            <mat-card-content>
                <b>Status: </b>{{ mission.complete ? "Completed" : "Incomplete" }}
                <br>
                <b *ngIf="mission.worker">Assigned to: </b>{{mission.worker && mission.worker.name}}
            </mat-card-content>
            <mat-card-actions>
                    <button 
                        *ngIf="!mission.complete" 
                        color='secondary' 
                        mat-raised-button 
                        (click)="openDialog(mission)"
                    >
                        {{mission.worker ? "Change worker" : "Assign worker"}}
                    </button>
                    <button 
                        *ngIf="mission.worker && !mission.complete" 
                        color='secondary' 
                        mat-raised-button 
                        (click)="completeMission(mission.id)"
                        >
                        Complete mission
                    </button>
                </mat-card-actions>
        </mat-card>
    </div>

    <div>
        <app-full-calendar></app-full-calendar>
    </div>
</div>